body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
nav{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    background: rgb(10, 10, 102);
}
/* h2,h4{
    color:#ffff ;
} */
a{
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin:0;
}
nav ul li{
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}
li a:hover{
    text-decoration: underline;
    color: red;
}
/* .header{
    background: rgb(18, 3, 59);
    padding: 20px;
    text-align: center;
    color: aliceblue;
} */
ul li {
    list-style: none;
}
.container{margin: 0;padding: 0;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    /* height: 100vh; */
}
.container{
    width: 100%;
    height: 100%;
}
.side-right{
    width: 5%;
    background: rgba(161, 192, 161, 0.548);
}
.contents{
    width: 90%;
    /* background: rgba(206, 179, 231, 0.521); */

    background: url(../images/forest.jpg) no-repeat;
    background-size: cover;
    color: #ffff;

} 
.side-left{
    width: 5%;
    background: rgba(161, 192, 161, 0.548);
}
footer{
    background: rgb(1, 1, 36);
    color:#ffff;
    text-align: center;
    padding: 10px;
    /* margin-top:-5px; */
    font-size:40px;
}
.logo li{
    display:inline-block;
    color: wheat;
    justify-content:center;
    padding: 10px;
}
table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top:100px;
}
th,tr,td{
    /* border-bottom: 2px solid purple; */
    padding: 20px;
    text-align: center;
}
th{
    background: rgba(15, 15, 15, 0.747);
    cursor: pointer;
    color: blanchedalmond;
    border-radius: 8px 8px 0 0;
    
}
tr:nth-child(even){
    background: rgba(15, 15, 15, 0.747);;
    cursor: pointer;
}
tr:nth-child(odd){
    color: black;
}
.box{
    
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:black;
}
.box1{
    
}
h2{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    color: #ffff;
    background: rgba(15, 15, 15, 0.747);
    padding: 20px;
    border-radius:40px;
}
h1{
    padding:20px;
    text-decoration: underline;
}
.header{
    
    margin: auto; 
    display: grid;
    grid-gap:5px;
    text-align: center;
    color: aliceblue;
    grid-template-columns:20% 60% 20%; 
    grid-template-areas: 'content1 content2 content3';
    
}
.content1{
    padding: 10px;
    /* height:5vh; */
    grid-area: 'content1';
    background: rgba(15, 15, 15, 0.747);
    margin-top:80px;
    text-align: justify;
    line-height:1.5;
    margin-left:10px;
}
/* .content1 p{
    box-sizing: border-box;
    color: aliceblue;
    text-align: justify;
} */
.content2{
    grid-area: 'content2';
    margin-top: 10px;
    
}
.profile img{
    width:160px;
    height: 160px;
    border-radius:50%;
    outline: none;
    border: none;
    margin-top: 20px;
}
.content3{
    grid-area: 'content3';
    background: rgba(15, 15, 15, 0.747);
    margin-right:20px;
    margin-top:80px;
    width:200px;
    height: 200px;

}